@import "./_variables.scss";
@import "bootstrap";
@import "./_transitions.scss";
@import "./_utilities.scss";
@import "./_overrides.scss";

:root {
  --grey: #f6f6f6;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
.hoverable {
  cursor: pointer;
}
main {
  flex-grow: 1;
  display: flex;
  align-items: stretch;
}
@media only screen and (max-width: 768px) {
  .sml-hdn {
    display: none;
  }
}
.minor-text{
  color: $dark-grey;
}
.border-primary{
  border-style: solid;
  border-color: $primary;
  border-width: thin;
}
.circle-img{
  border-radius: 50%;
  height: 3vw;
  width: 3vw;
}
.parent {
  display: grid;
  grid-template-columns: 1fr 1 fr 1fr 1fr;
  grid-template-rows: 1fr;
  height: 15vw;
}
.child1 {
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  z-index: 1;
}
.child2 {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  z-index: 2;
}
.circle-image{
  border-radius: 50%;
  object-fit: cover;
  height: 12vw;
  width: 12vw;
}
.parent-sm {
  display: grid;
  grid-template-columns: 1fr 1 fr 1fr 1fr;
  grid-template-rows: 1fr;
  height: 110px;
  width: 110px;
}
.circle-img-sm{
  border-radius: 50%;
  height: 30px;
  width: 30px;
}
.gradient-bg{
  background: rgb(57,196,198);
  background: linear-gradient(90deg, rgba(57,196,198,1) 0%, rgba(162,227,220,1) 64%, rgba(145,223,215,1) 100%);
}
.text-overflow {
  overflow: hidden;
  word-wrap: break-word;
  display: block;
  text-overflow: ellipsis;
}
.post-overflow {
    overflow: hidden;
  word-wrap: break-word;
  display: block;
  text-overflow: ellipsis;
}
.img-fit{ 
  object-fit:cover;
  max-width: 100%; 
  display: block; 
  height: 20 vh; 
}
.border-dashed{
  border-style: dashed;
  border-color: $primary;
}